<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cricket T20 First Score Predictor</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />

    <style>
      .alert {
        background: green;
        padding: 1rem;
        border-radius: 5px;
        color: white;
        margin: 1rem;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h3>Cricket T20 First Innings Score Predictor</h3>
    </div>

    <!-- Form -->
    <div class="container">
      <form action="/send" method="POST">
        <label for="Number One">Current Number of Runs</label>
        <input
          type="text"
          placeholder="Current Number of Runs"
          class="u-full-width"
          name="runs"
        />

        <label for="Number Two">Number of Balls Bowled</label>
        <input
          type="text"
          placeholder="Number of Balls Bowled"
          class="u-full-width"
          name="balls"
        />

        <label for="Number Three">Number of Wickets</label>
        <input
          type="text"
          placeholder="Number of Wickets"
          class="u-full-width"
          name="wickets"
        />

        <label for="Operation">Model</label>
        <select class="u-full-width" name="model">
          
          <option value="dnn">DNN</option>
		  <option value="rpb">Runs Per Ball</option>
         
        </select>

        <input type="submit" value="Calculate" id="calc_btn" />
        <br />
<div id="outputDiv" style="width: 500px; height: 75px; border: 1px solid;"> {{sum}}</div>
        </div>
      </form>
    </div>
    <p> <a href="/static/about_dnn.html">About DNN Model</a> </p>	
  </body>
</html>
